@{
	ViewBag.Title = "Forbidden";
}
<ul class="path floatContainer">
	<li class="first"><a href="" target="_self">HomePage</a></li>
</ul>
<h1>@ViewBag.Title</h1>
<p>The page you requested is forbidden.</p>