@{
	ViewBag.Title = "Data not found";
}
<ul class="path floatContainer">
	<li class="first"><a href='@Url.Action("Index", "Home")'  target="_self">Home Page</a></li>
</ul>
<h1>@ViewBag.Title</h1>
<p>The page you requested was not found.</p>