@{
	ViewBag.Title = "An error occurred while processing your request";
}
<ul class="path floatContainer">
	<li class="first"><a href="" target="_self">Home</a></li>
</ul>
<h1>An error occurred</h1>
<p>An error occurred on the server when processing your request. <br />The error detail was sent to our support team.<br />Sorry for the inconvenience.</p>
<br />
<p>Go to the <a href="/">homepage</a></p>