
@model App.Models.Email.PasswordResetMailModel
           
<h1>displayName:@Model.Title</h1>
<h3>We have send an email to you, please active it</h3>    
    <br />
    <a href="@Model.ActiveUrl" target="_self" title="reset" >reset</a>