@{
    ViewBag.Title = "home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using App.Models.Home;
@model IndexModel

<div class="col-xs-4"></div>
<div class="col-xs-4">
    <h1>Home Page</h1>
    <h3>@Model.Subject</h3>
</div>
<div class="col-xs-4"></div>
